<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home Page - ejs (HTML template)</title>
    </head>
    <body>
        <h1>Welcome to the home page.</h1>

        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae
            provident doloremque blanditiis nostrum consequuntur modi. Placeat
            ab optio eligendi, suscipit consequuntur voluptatem quas labore
            veniam! Nostrum maiores magnam est earum. Dolore consequatur tempora
            ea nobis saepe! Eaque consequuntur quibusdam ut doloremque accusamus
            incidunt eveniet deserunt adipisci nam consequatur, velit molestias
            commodi iure! Corporis vel omnis quis quidem beatae id doloribus?
        </p>

        <br>
        
        <button>btn</button>
    </body>
</html>
