<div style="background-color: pink; clear: both; width: 100%; text-align: center; padding: 20px 0; margin-top: 40px; font-family: sans-serif;">
    <p style="margin: 0; color: #333; line-height: 1.6;">
        Contact us at : xyz@gmail.com <br>
        Phone no : xxxxx-xx123
    </p>
</div>