<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Post</title>
</head>
<body>
    <div class="body__header">
        <h1>Quora</h1>
    </div>
    <a href="/posts">Home</a>
    <form method="post" action="/posts">
        <h1>Create Post</h1>
        <input type="text" name="username" placeholder="enter your username">
        <br>
        <textarea name="content" placeholder="enter your content"></textarea>
        <br>
        <button>Done!</button>
    </form>
</body>
</html>